button {
    margin: 5px;
}

.section {
    text-align: center;
}

#display {
    word-wrap: break-word;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 35px;
    text-align: left;
    min-height: 40vh;
    background-color: azure;
    border: solid;
    border-color: slategrey;
}
